/* src/components/ProjectCard.css */
.project-card {
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.project-image {
  height: 200px;
  overflow: hidden;
  margin-bottom: 0;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-card:hover .project-image img {
  transform: scale(1.05);
}

.project-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-heading {
  font-size: 1.5rem;
  margin-bottom: 0rem;
  color: var(--dark-text);
}

.project-description {
  color: var(--light-text);
  flex-grow: 1;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-tag {
  background-color: rgba(10, 110, 189, 0.1);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
}

.project-actions {
  display: flex;
  gap: 0.5rem;
}

.project-btn {
  flex: 1;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}